
/* ==========================================================================
    feuille style index.html
   ========================================================================== */

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; /* Espace de 40px entre la photo et le texte */
    height: 60vh;
    max-width: 1000px;
    margin: 0 auto;
    
}

/* Style de la photo de profil dans le Hero */
.hero-avatar {
    width: 180px; /* Taille de la photo (ajustable) */
    height: 180px;
    border-radius: 50%; /* Rend la photo parfaitement ronde */
    object-fit: cover; /* Empêche la déformation de l'image */
    border: 4px solid var(--secondary-color); /* Bordure turquoise assortie */
    flex-shrink: 0; /* Empêche la photo de rétrécir */
}

 


/* Ajustement du bloc de texte */
.hero-content {
    text-align: left; /* Aligne le texte à gauche, face à la photo */
}





.slogan {
    font-size: 1.5rem;/*16px x 1.5 = 24px.*/
    font-style: italic;
    color: var(--secondary-color);
    margin: 15px 0;
    /*Le premier chiffre (15px) s'applique en Haut et en Bas.
    Le deuxième chiffre (0) s'applique à Gauche et à Droite.*/
}

.btn {
    display: inline-block;
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: var(--transition);
}

.btn:hover {
    background-color: #16a085;
    transform: translateY(-2px);/*-interaction*/
}